In [1]:
#Load libraries
import pandas as pd 
import matplotlib

In [3]:
#Import data
raw_df = pd.read_csv("survey (1).csv")

In [4]:
#Print data
raw_df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [5]:
#Build a function for group by 
group_by_country = raw_df.groupby(["Country", "treatment", "work_interfere"])["Timestamp"].count().reset_index()
print(group_by_country)

                    Country treatment work_interfere  Timestamp
0                 Australia        No          Never          3
1                 Australia        No      Sometimes          4
2                 Australia       Yes          Often          5
3                 Australia       Yes         Rarely          2
4                 Australia       Yes      Sometimes          6
5                   Austria        No      Sometimes          1
6              Bahamas, The       Yes          Often          1
7                   Belgium        No          Never          1
8                   Belgium        No          Often          1
9                   Belgium        No      Sometimes          1
10                  Belgium       Yes         Rarely          1
11   Bosnia and Herzegovina        No         Rarely          1
12                   Brazil        No          Never          1
13                   Brazil        No         Rarely          1
14                   Brazil        No      Sometimes          1
15                   Brazil       Yes         Rarely          1
16                 Bulgaria        No          Never          1
17                 Bulgaria       Yes         Rarely          1
18                 Bulgaria       Yes      Sometimes          1
19                   Canada        No          Never         12
20                   Canada        No          Often          1
21                   Canada        No         Rarely          3
22                   Canada        No      Sometimes         10
23                   Canada       Yes          Never          4
24                   Canada       Yes          Often         10
25                   Canada       Yes         Rarely          4
26                   Canada       Yes      Sometimes         19
27                    China        No      Sometimes          1
28                 Colombia        No          Often          1
29                 Colombia        No      Sometimes          1
..                      ...       ...            ...        ...
90                 Slovenia       Yes      Sometimes          1
91             South Africa        No          Never          1
92             South Africa       Yes          Often          3
93             South Africa       Yes      Sometimes          1
94                   Sweden        No         Rarely          2
95                   Sweden        No      Sometimes          1
96                   Sweden       Yes         Rarely          2
97              Switzerland        No          Never          1
98              Switzerland        No         Rarely          1
99              Switzerland       Yes          Never          1
100             Switzerland       Yes          Often          1
101             Switzerland       Yes      Sometimes          1
102                Thailand        No          Never          1
103          United Kingdom        No          Never         27
104          United Kingdom        No          Often          4
105          United Kingdom        No         Rarely          8
106          United Kingdom        No      Sometimes         10
107          United Kingdom       Yes          Never          5
108          United Kingdom       Yes          Often         13
109          United Kingdom       Yes         Rarely         13
110          United Kingdom       Yes      Sometimes         61
111           United States        No          Never        107
112           United States        No          Often          8
113           United States        No         Rarely         26
114           United States        No      Sometimes         57
115           United States       Yes          Never         18
116           United States       Yes          Often         74
117           United States       Yes         Rarely         85
118           United States       Yes      Sometimes        232
119                Zimbabwe       Yes          Often          1

[120 rows x 4 columns]